body {
  .mat-select-panel {
    background-color: mat-color($background, card);
  }
  .mat-select-trigger, .mat-option {
    font-size: $font-size-base;
  }
  .mat-select-trigger {
    height: 22px;
    margin: 1em 0;
    padding-bottom: 6px;
  }
  .mat-select-placeholder {
    padding-left: 0;
  }
  .app-dark .mat-select-panel {
    background-color: mat-color($dark-background, card);
  }
  .mat-select {
    height: 0px; margin-top: -13px;
  }
}